<div class="panel panel-primary" style="margin:-160px -20px -20px;">
    <div class="panel-heading" style="overflow: hidden;vertical-align: middle;">
        班级选择
        <button class="btn btn-xs btn-info pull-right" ng-click="ok()">确定</button>
    </div>
    <div class="panel-body">
        <div class="tree" uv-tree="{{class_tree_name}}" uv-tree-data="tree_data" uv-tree-node-id-key="id"
             uv-tree-node-parent-id-key="pid" uv-tree-node-name-key="name"
             uv-tree-node-selected-key="selected"
             uv-tree-multi-select="false">
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-sm btn-info" ng-click="ok()">确定</button>
    </div>
</div>