<table class="table table-striped table-hover table-condensed">
    <thead>
    <th>#</th>
    <th>院系名称</th>
    <th><i class="glyphicon glyphicon-cog pull-right" style="right:5px;"></i></th>
    </thead>
    <tr ng-repeat="fac in facs">
        <td>{{$index+1}}</td>
        <td>{{fac.fac_name}}</td>
        <td class="text-right">
            <a href="" class="btn btn-link btn-xs" ng-click="modify(fac)" tooltip="修改"
               tooltip-popup-delay="1000">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a href="" class="btn btn-link btn-xs" ng-click="del(fac)" tooltip="删除"
               tooltip-popup-delay="1000">
                <i class="glyphicon glyphicon-trash text-danger"></i>
            </a>
        </td>
    </tr>
</table>
<div>
    <button class="btn btn-sm btn-primary" ng-click="add()">添加一个院系</button>
</div>


<script type="text/ng-template" id="data-input">
    <div class="panel panel-primary" style="margin:-20px;">
        <div class="panel-body">
            <br>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="data" class="col-sm-3 control-label">院系名称</label>

                    <div class="col-sm-9">
                        <input ng-model="_name" type="text" id="data" class="form-control" placeholder="请输入院系名称">
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer" style="overflow: hidden;">
            <button class="btn btn-sm btn-primary pull-right" ng-click="closeThisDialog({name:_name})">确定
            </button>
            <a class="btn btn-sm btn-default pull-right" ng-click="closeThisDialog()" style="margin-right:5px;">取消</a>
        </div>
    </div>
</script>